// Notes:
// Remove any redundancies and collect; colors?
// don't load unused scss assets
// Some nesting is too deep, minimize to 3 deep max

// FONTS
@font-face {
    font-family: 'Montserrat';
  	font-weight: 700;
    src: url('/assets/fonts/montserrat-bold-webfont.eot');
    src: local('Montserrat-Bold'), 
         url('/assets/fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/montserrat-bold-webfont.svg#font') format('svg'); 
}

@font-face {
    font-family: 'Exo 2';
    font-style: normal;
  	font-weight: 300;
    src: url('/assets/fonts/exo2-light-webfont.eot');
    src: local('Exo 2 Light'), 
         local('Exo2-Light'), 
         url('/assets/fonts/exo2-light.woff') format('woff'),
         url('/assets/fonts/exo2-light-webfont.svg#font') format('svg'),
         url('/assets/fonts/exo2-light.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Exo 2';
  	font-weight: 500;
    src: url('/assets/fonts/exo2-medium-webfont.eot');
    src: local('Exo 2 Medium'), 
         local('Exo2-Medium'), 
         url('/assets/fonts/exo2-medium-webfont.ttf') format('truetype'),
         url('/assets/fonts/exo2-medium-webfont.svg#font') format('svg'); 
}

@font-face {
    font-family: 'Exo 2';
  	font-weight: 400;
    src: url('/assets/fonts/exo2-regular-webfont.eot');
    src: local('Exo 2 Regular'), 
         local('Exo2-Regular'), 
         url('/assets/fonts/exo2-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/exo2-regular-webfont.svg#font') format('svg'); 
}

// Vendor configuration
$fa-font-path: '/assets/fonts';
$max-width: 1200px;

// Vendor import
@import 'normalize/normalize';
@import 'font-awesome/font-awesome';
@import 'bourbon/bourbon';
@import 'neat/neat';

// VARIABLES
// Colors
$blue: #107FC9;
$blue80: rgba(16, 127, 201, 0.8);
$blue10: rgba(16, 127, 201, 0.1);
$light-orange: #f4a62a;
$orange: #f39c12;
$black: #000000;
$brick: #d9534f;
$blood-orange: #d43f3a;
$sky: #5bc0de;
$teal: #46b8da;
$black0: rgba(0, 0, 0, 0);
$black0p75: rgba(0, 0, 0, 0.075);
$dark-orange: #e08e0b;
$green: #88C425;
$dark-gray: #324040; //text
$medium-gray: #E7E7E7;
$ash-gray: #e9e9e9;
$light-gray: #777777; //text-light
$lime: #88c425;
$muted-gray: #999999;
$ivory: #fafafa; //hr
$light-ivory: #F8F8F8;
$asphalt: #555;
$snow: #F0F0F0;
$white: #FFFFFF;
$white0: rgba(255, 255, 255, 0);
$light-purple: #5f81e3;

// Fonts
$exo: 'Exo 2', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$awesome: 'FontAwesome';

// Weight
$regular: 300;
$medium: 400;
$bold: 500;
$very-bold: 700;

// Size
$min-width: 320px;

// GLOBAL
body {
	background: $light-ivory;
	margin: 0;
	font-size: 14px;

	p {
		color: $dark-gray;
		font-family: $exo;
	}

	h1, h3, h4 {
		color: $asphalt;
		font-family: $exo;
		font-size: inherit;
		margin: 0;
	}
}

a {
	color: $light-purple;
	text-decoration: none;
}

.muted {
	color: $muted-gray;
	font-weight: $regular;
}

code {
	width: 100%;
	display: block;
	font-size: 12px;
	font-weight: $regular;
	font-family: $exo;
	letter-spacing: 1.5px;
	border: solid 1px $ash-gray;
	overflow: hidden;
	cursor: pointer;
	background: none;
	padding: 8px;
	color: $light-gray;
	margin-top: 3px;
}


// HEADER
header {
	background-color: $blue;
	padding: 30px 25px;
	border-bottom: 3px solid $medium-gray;
	text-align: center;
	min-width: $min-width;
	height: 105px;
	position: relative;
	@include outer-container();
	@include media(max-width 992px) {
		height: 165px;
	}

	section.branding {
		@include span-columns(3);
		@include media(max-width 992px) {
			@include span-columns(12);
			margin-bottom: 20px;
		}

		img {
			width: 187px;
			height: 40px;
			float: left;

			@include media(max-width 992px) {
				float: none;
			}
		}	
	}

	section.search {
		padding: 8px;
		margin-top: 1px;
		background-color: #fff;
		position: relative;
		font-size: 16px;
		font-weight: $regular;
		@include span-columns(8);
		@include shift(1);
		@include media(max-width 992px) {
			@include span-columns(12);
			width: 84%;
		}

		input {
			font-family: $exo;
			font-weight: $regular;
			font-size: inherit;
			outline: none;
			background: none;
			border-style: none;
			height: 23px;
			width: 100%;
			padding: 1px 0 0 28px;
			float: left;
		}

		label:before {
			content: '\f002';
			@extend .fa;
			color: $blue;
			position: absolute;
			top: 11px;
			left: 10px;
		}
	}
}

// NOTIFY ASK
#notify-ask {
	cursor: pointer;
	background-color: $blood-orange;
	text-align: center;
	min-width: 320px;
	position: relative;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	color: $white;
	font-size: 17px;
	font-family: $exo;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: -28px;
	font-weight: $very-bold;
	min-width: $min-width;
	@include outer-container();

	span {
		@extend .fa;
		@extend .fa-exclamation-triangle;
		margin: 0 10px;
	}
	
}

// MAIN 
main {
	min-width: $min-width;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 0 25px;
	position: relative;
	@include outer-container();

	section {
		@include span-columns(4);
		position: relative;
		@include media(max-width 992px) {
			@include span-columns(12);
		}

		h3, fieldset, code, progress {
			opacity: 1;
			@include transition(opacity 500ms ease-in-out 200ms);
		}

		&.upload,
		&.your-account,
		&.sharing,
		&.node-info,
		&.uploaded-files {
			margin-bottom: 20px;
			padding: 25px;
			background-color: $white;
			border: 1px solid $medium-gray;
			border-bottom-width: 3px;
		}
		
		&.upload,
		&.your-account,
		&.sharing,
		&.node-info {
			max-height: 575px;
			overflow: visible;
			@include transition(max-height 500ms ease-in-out);
			@include span-columns(4 of 4);
			@include media(max-width 992px) {
				@include span-columns(12 of 12);
			}
		}

		&.uploaded-files {
			position: relative;
			padding-top: 34px;
			min-height: 100px;
			max-height: 1412px;
			overflow-y: auto;
			@include span-columns(8);

			@include media(max-width 992px) {
				@include span-columns(12);
			}
		}

		&.uploaded-files:before {
			content: 'YOUR FILES';
			font-size: 18px;
			font-weight: $very-bold;
			font-family: $montserrat;
			color: $blue;
		}

		&.closed {
			overflow: hidden;
			max-height: 70px;
			@include transition(max-height 500ms ease-in-out);

			h1 aside:before {
				content: '\f078';
			}
			
			h3, fieldset, code, progress {
				opacity: 0;
				@include transition(opacity 500ms ease-in-out);
			}

			&.file h3, 
			&.file fieldset, 
			&.file progress {
				opacity: 0;
				@include transition(opacity 100ms ease-in-out);
			}
		}
	}

	h1 {
		cursor: pointer;
		font-size: 18px;
		font-weight: $very-bold;
		font-family: $montserrat;
		color: $blue;

		span {
			font-size: 14px;
			float: left;
		}

		aside {
			@extend .fa;
			@extend .fa-chevron-up;
			font-weight: inherit;
			font-size: 15px;
			float: right;
		}
	}
}

// GLOBAL SECTION
section {
	h1 {
		padding-bottom: 40px;
	}

	h3 {
		font-family: $exo;
		font-weight: $medium;
		padding: 25px 0;

		span {
			float: left;
		}

		aside {
			float: right;
			color: $light-gray;
			font-weight: $regular;
		}
	}
}

// GLOBAL PROGRESS
progress[value],
progress:not([value]) {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	width: 100%;
	height: 20px;
	margin-bottom: 20px;
	color: $blue //IE10
}

progress[value]::-webkit-progress-bar, 
progress:not([value])::-webkit-progress-bar, {
	background-color: $light-ivory;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

progress[value]::-webkit-progress-value,
progress:not([value])::-webkit-progress-value {
	background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	border-radius: 2px; 
	background-size: 40px 40px;
	background-color: $blue;
	-webkit-animation: animate-stripes 5s linear infinite;
    animation: animate-stripes 5s linear infinite;
}

progress[value]::-moz-progress-bar,
progress:not([value])::-moz-progress-bar { 
	background-image: -moz-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	border-radius: 2px; 
	background-size: 40px 40px;
	background-color: $blue;
}

@-webkit-keyframes animate-stripes {
	100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
	100% { background-position: -100px 0px; }
}

// UPLOAD SECTION
div.drop-zone {
	&.active {
		opacity: 0.4;
	}
}

span.uploading {
	position: relative;
	bottom: 15px;
	font-family: $exo;

	&:before {
		content: '\f0ee';
		padding-right: 5px;
		@extend .fa;
	}
}

section.upload {
	button {
		width: 100%;
		background-color: $orange;
		border-radius: 3px;
		color: $white;
		font-weight: $very-bold;
		border: none;
		border-bottom: 3px solid $dark-orange;
		font-family: $montserrat;
		font-size: 18px;
		padding: 12px 0 7px 0;
		height: 45px;
		margin-bottom: 40px;

		&:before {
			content: '\f0ee';
			padding-right: 5px;
			@extend .fa;
		}
	}

	button:after {
		content: '\AOR USE DRAG-AND-DROP';
		white-space: pre;
		font-size: 10px;
		font-weight: $regular;
		color: $dark-gray;
		font-family: $exo;
		position: relative;
		top: 19px;
	}

	button:hover,
	button:active,
	button:focus {
		background-color: $light-orange;
		outline: none;
	}
}

// UPLOAD CONTROL
input[name=file] {
	display: none;
}

// UPLOADED FILE ITEM
section.file {
	height: 135px;
	padding: 30px 25px 0 25px;
	@include span-columns(12 of 12);
	@include transition(all 300ms ease-out);

	&:nth-of-type(even) {
		background-color: $blue10; 
	}

	h1 {
		padding-bottom: 10px;
		font-weight: $medium;
		font-size: 18px;
		color: $blue;

		&:before {
			content: '\f077';
			margin-right: 6px;
			font-size: 12px;
			position: relative;
			bottom: 3px;
			@extend .fa;
		}

	}

	fieldset {
		margin: 0;
		padding: 0;
		border: none;
	}

	button {
		cursor: pointer;
		background-color: $white;
		padding: 8px 18px;
		border-style: solid;
		border-width: 2px 2px 3px 2px;
		letter-spacing: 1px;
		font-size: 12px;
		font-family: $montserrat;
		border-radius: 3px;
		@include transition(all 120ms ease-out);
		float: left;
		color: $blue;
		border-color: $blue;
		margin-right: 20px;

		&.zeroclipboard-is-hover,
		&:hover {
			color: $white;
			background-color: $blue;
			@include transition(all 120ms ease-in);
		}

		&:before {
			position: relative;
			right: 4px;
			@extend .fa;
		}

		&.zeroclipboard-is-active,
		&:active {
			outline: none;
			outline: 0
		}

		&:first-of-type:before {
			content: '\f084';
		}

		&:first-of-type:after {
			content: 'COPY HASH/KEY';
		}

		&:nth-of-type(2):before {
			content: '\f0ea';
		}

		&:nth-of-type(2):after {
			content: 'COPY URL';
		}

		&:last-of-type:before {
			content: '\f019';
		}

		&:last-of-type:after {
			content: 'DOWNLOAD';
		}

		@include media(max-width 615px) {
			margin-right: 11px;

			&:last-of-type:after,
			&:first-of-type:after,
			&:nth-of-type(2):after {
				content: '';
			}

			&:before {
				right: 0;
			}
		}
	}

	&.closed {
		height: 75px;
		
		fieldset {
			display: none;
		}

		h1:before {
			content: '\f078';
		}

		@include transition(all 300ms ease-in);
	}
}

// MY ACCOUNT SELECT
section.your-account {
	fieldset.token-select {
		border: none;
		padding: 0;
		margin-top: 0;
		margin-bottom: 10px;
	}

	fieldset.token-select div:first-of-type {
		padding: 0;
		margin: 0;
		border: 1px solid $ash-gray;
		width: 90%;
		height: 34px;
		box-shadow: inset 0 1px 1px $black0p75;
		background-color: $medium-gray;
		border-radius: 3px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		overflow: hidden;
		position: relative;
		top: 2px;
		float: left;

	    &:after {
			content: '\25BE';
			pointer-events: none;
			position: absolute;
			top: -1px;
			right: 0;
			display: block;
			background-color: $white;
			text-align: center;
			padding: 8px 14px;
			border: 1px solid $black0p75;
			border-bottom-width: 2px;
			font-size: 12px;
	    }

	    &:hover:after {
			background-color: $medium-gray;
			@include transition(all 120ms ease-in);
		}

	    select {
	    	font-family: $exo;
	    	color: $light-gray;
	    	cursor: pointer;
			padding: 6px 12px;
			font-size: 14px;
			width: 100%;
			border: none;
			box-shadow: none;
			background-color: transparent;
			background-image: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			padding-top: 8px;
		}

	    select:focus {
	    	outline: none;
	    }
	}

	fieldset.token-select div:last-of-type {
		float: right;
		width: 10%;
		@extend .fa;
		cursor: pointer;

		&:after {
			min-width: 10px;
			content: '\f1b8';
			pointer-events: none;
			position: relative;
			top: 2px;
			right: 1px;
			display: block;
			background-color: $white;
			text-align: center;
			padding: 11px 11px;
			border: 1px solid $black0p75;
			border-bottom-width: 2px;
			font-size: 12px;
			height: 9px;
		}

		&:hover:after {
			background-color: $medium-gray;
			@include transition(all 120ms ease-in);
		}
	}
}


// YOUR ACCOUNT FIELDSET
section.your-account fieldset {
	border: none;
	width: 100%;
	font-family: $montserrat;
	padding: 0;
	margin: 30px 0 5px 0;

	button {
		cursor: pointer;
		background-color: $white;
		padding: 8px 18px;
		font-size: 13px;
		border-style: solid;
		border-width: 2px 2px 3px 2px;
		letter-spacing: 1px;
		border-radius: 3px;
		width: 45%;
		@include transition(background-color 120ms ease-out);
	}

	button:first-of-type {
		float: left;
		color: $orange;
		border-color: $orange;
		border-bottom-color: $orange;

		&:hover {
			color: $white;
			background-color: $orange;
			@include transition(background-color 120ms ease-in);
		}
	}

	button:last-of-type {
		float: right;
		color: $lime;
		border-color: $lime;
		border-bottom-color: $lime;

		&:hover {
			color: $white;
			background-color: $lime;
			@include transition(background-color 120ms ease-in);
		}
	}

	button:focus {
		outline: none;
	}
}

// HELP
.with-help {
	display: inline;
	position: relative;

	&:hover:after {
		text-align: center;
		font-family: $exo;
		color: $white;
		background-color: $blue80;
		font-size: 14px;
		padding: 15px;
		width: 170px;
		display: block;
		position: absolute;
		border-radius: 4px;
		bottom: 24px;
		position: absolute;
		z-index: 100;
		@include animation(fadeIn 250ms ease-in-out);
	}

	&:hover:before {
		border: solid;
		border-color: $blue80 transparent;
		border-width: 6px 6px 0 6px;
		content: '';
		display: block;
		position: absolute;
		right: 3%;
		bottom: 18px;
		z-index: 9;
		@include animation(fadeIn 250ms ease-in-out);
	}

	&.address:hover:after {
		content: 'Bandwidth is consumed when uploading or downloading files based on the size of files transferred.';
	}

	&.encryption:hover:after {
		content: 'Your file is encrypted with its own hash. Note: Do not rely on this prototype for file security. Encryption/decryption is currently handled by the server.';
	}

	&.bandwidth:hover:after {
		content: 'Bandwidth is consumed when uploading or downloading files based on the size of files transferred.';
	}

	&.storage:hover:after {
		content: 'Your storage capacity is based on the bandwidth you use. Uploading a file will use bandwidth 3x the file size. Downloads will also spend bandwidth.';
	}

	&.token:hover:after {
		content: 'This is your private access token for bandwidth and files at this node. Keep your token private and secure. If you lose your token, you will also lose the bandwidth credits associated with it. Tap the recycle button to generate a new token.';
	}
}
@include keyframes(fadeIn) {from { opacity: 0; } to { opacity: 1;}}

.help-icon:after {
	content: '\f059';
	color: $blue;
	margin-left: 5px;
	width: 15px;
	cursor: pointer;
	@extend .fa;	
}

// FOOTER
footer {
	background: #fff;
	padding: 20px 25px;
	font-family: $exo;
	border-top: 1px solid $snow;
	min-width: $min-width;
	@include outer-container();

	a {
		font-weight: $medium;
	}

	h1 {
		@include span-columns(10);
	}

	aside {
		@include span-columns(2);

		a:first-of-type {
			float: left;
		}

		a:last-of-type {
			float: right;
		}
	}
}
