# compiled output
#/dist
/tmp

#old files
/old
old/static/css/main.sass
old/static/index.html

# dependencies
/node_modules
/vendor/*

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
.DS_Store
Thumbs.db
/coverage/*
npm-debug.log
testem.log

#sublime
metadisk.sublime-project
metadisk.sublime-workspace
