# compiled output
/tmp

#old files
/old
old/static/css/main.sass
old/static/index.html

# dependencies
/node_modules
/vendor/*
/bower_components/*

# misc
/dist/*
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
.DS_Store
Thumbs.db
npm-debug.log
testem.log

#sublime
metadisk.sublime-project
metadisk.sublime-workspace
