@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
html {
  height: 100%; }

body {
  height: 100%;
  background: #f8f8f8; }

.wrapper {
  min-height: 100%;
  margin: 0 auto -67px;
  padding-bottom: 67px; }

p {
  color: #324040;
  font-family: "Exo 2", sans-serif; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Exo 2", sans-serif;
  color: #555555; }

hr {
  border-top: 2px solid #fafafa; }

.cf {
  zoom: 1; }
  .cf:before, .cf:after {
    content: " ";
    display: table; }
  .cf:after {
    clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.logo {
  background-image: url("../images/logo.png");
  background-size: 148px 56px;
  background-repeat: no-repeat;
  height: 56px;
  width: 148px;
  margin: 0; }

.header {
  background: #107fc9;
  padding: 30px 0;
  border-bottom: 3px solid #e7e7e7; }

.heading {
  margin-left: -7px;
  margin-right: -7px; }

.push {
  height: 67px; }

.footer {
  bottom: 0;
  height: 67px;
  background: white;
  width: 100%;
  padding: 25px 0 12px;
  font-family: "Exo 2", sans-serif;
  border-top: 1px solid #f0f0f0; }

.footer-link {
  margin-left: 1em;
  font-weight: 400; }

.main-container {
  font-family: "Exo 2", sans-serif;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 20px; }
  .main-container h1, .main-container h2, .main-container h3, .main-container h4, .main-container h5, .main-container h6 {
    margin: 0 0 0.8em 0; }

.btn-upload {
  background-color: #f39c12;
  color: white;
  font-weight: 700;
  border: 0;
  border-bottom: 3px solid #e08e0b;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 7px;
  padding-top: 12px; }
  .btn-upload:hover, .btn-upload:active {
    background-color: #f4a62a;
    color: white;
    border-bottom: 3px solid #e08e0b; }
  .btn-upload:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 3px solid #f4a62a; }
  .btn-upload:focus {
    color: #f39c12; }
  .btn-upload:active:focus {
    color: white; }
  .btn-upload:hover:focus {
    color: white; }

.btn-default {
  border-bottom: 2px solid #cccccc;
  font-size: 13px;
  padding: 8px 18px;
  font-family: "Montserrat", sans-serif; }

.btn-primary {
  background-color: #107fc9;
  font-size: 13px;
  padding: 8px 18px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  border-bottom: 3px solid #0e70b1; }
  .btn-primary:hover, .btn-primary:active {
    background-color: #0e70b1;
    color: white;
    border-bottom: 3px solid #0a5282; }
  .btn-primary:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 3px solid #0e70b1; }
  .btn-primary:focus {
    color: #107fc9; }
  .btn-primary:active:focus {
    color: white; }
  .btn-primary:hover:focus {
    color: white; }

.btn-secondary {
  background-color: white;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  padding: 8px 18px;
  color: #107fc9;
  border: solid 2px #107fc9; }
  .btn-secondary:hover, .btn-secondary:active {
    background-color: #107fc9;
    color: white;
    border-bottom: 3px solid #0e70b1; }
  .btn-secondary:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 3px solid #107fc9; }
  .btn-secondary:focus {
    color: #107fc9; }
  .btn-secondary:active:focus {
    color: white; }
  .btn-secondary:hover:focus {
    color: white; }

.btn-green {
  background: white;
  font-size: 13px;
  padding: 8px 18px;
  color: #88c425;
  border: 2px solid #88c425;
  border-bottom: 3px solid #88c425;
  letter-spacing: 0.5px; }
  .btn-green:hover, .btn-green:active {
    background-color: #88c425;
    color: white;
    border-bottom: 3px solid #79af21; }
  .btn-green:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 3px solid #88c425; }
  .btn-green:focus {
    color: #88c425; }
  .btn-green:active:focus {
    color: white; }
  .btn-green:hover:focus {
    color: white; }

.btn-orange {
  background-color: white;
  font-size: 13px;
  padding: 8px 18px;
  color: #f39c12;
  border: solid 2px #f39c12;
  border-bottom: 3px solid #f39c12;
  letter-spacing: 0.5px; }
  .btn-orange:hover, .btn-orange:active {
    background-color: #f39c12;
    color: white;
    border-bottom: 3px solid #e08e0b; }
  .btn-orange:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 3px solid #f39c12; }
  .btn-orange:focus {
    color: #f39c12; }
  .btn-orange:active:focus {
    color: white; }
  .btn-orange:hover:focus {
    color: white; }

#btn-upload-another {
  width: 100%;
  height: 34px;
  margin-top: 9px; }

.searchbox {
  padding: 8px;
  margin-top: 8px;
  background-color: white;
  position: relative;
  font-size: 16px;
  font-weight: 300; }
  .searchbox i.fa {
    color: #107fc9;
    position: absolute;
    top: 11px;
    left: 10px;
    line-height: 100%;
    width: 1em;
    text-align: center; }
  .searchbox input {
    font-family: "Exo 2", sans-serif;
    font-weight: 300;
    position: absolute;
    top: 8px;
    right: 8px;
    left: 34px;
    bottom: 8px;
    font-size: inherit;
    outline: 0;
    background: none;
    width: calc(100% - 1em - 28px);
    border-style: none;
    margin: 0;
    padding: none; }

.stats {
  padding: 25px 25px 15px;
  background: white;
  border: 1px solid #e7e7e7;
  border-bottom: 3px solid #e7e7e7; }
  .stats p {
    font-weight: 400; }
  .stats h5 {
    font-weight: bold; }
  .stats .text-muted {
    color: #777777;
    font-weight: 300;
    margin-top: 0.6em; }
  .stats .stats-list .progress {
    margin-top: 0.3em; }
  .stats .caption {
    font-size: 10px;
    display: block;
    font-weight: 300;
    color: #807f7f;
    text-transform: uppercase;
    margin: 15px 0; }

.invis {
  display: none; }

input[type=file].invis {
  visibility: hidden;
  overflow: hidden;
  width: 1px;
  height: 1px; }

code {
  width: 100%;
  display: block;
  font-size: 12px;
  font-weight: 300;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 1.5px;
  border: solid 1px #e9e9e9;
  overflow: hidden;
  cursor: pointer;
  background: none;
  padding: 8px;
  color: #a7a7a7;
  margin-top: 3px; }

.body {
  background: white;
  border: 1px solid #e7e7e7;
  border-bottom: 3px solid #e7e7e7; }
  .body h3 {
    color: #107fc9;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 18px; }
  .body .file-list code {
    width: 395px;
    background: none;
    border: 0;
    padding: 5px 0;
    color: #b7c8da;
    font-size: 9px;
    margin-top: 3px;
    letter-spacing: 1px; }
  .body .file-list .new {
    background-color: #e2e9ff; }
  .body .file-list .file-row {
    border-top: 2px solid #fafafa;
    padding: 30px 25px; }
    .body .file-list .file-row:last-of-type {
      border-bottom: 2px solid #fafafa; }
    .body .file-list .file-row .name {
      font-weight: 400;
      font-size: 18px;
      color: #107fc9; }
      .body .file-list .file-row .name .text-muted {
        color: #777777;
        font-weight: normal; }
    .body .file-list .file-row .btn {
      background-color: white;
      padding: 8px 18px;
      color: #107fc9;
      border: solid 2px #107fc9;
      margin-top: 6px;
      margin-left: 20px;
      border-bottom: 3px solid #107fc9;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 0px; }
      .body .file-list .file-row .btn:hover, .body .file-list .file-row .btn:active {
        background-color: #107fc9;
        color: white;
        border-bottom: 3px solid #0c619a; }
      .body .file-list .file-row .btn:active {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-bottom: 3px solid #107fc9; }
      .body .file-list .file-row .btn:focus {
        color: #107fc9; }
      .body .file-list .file-row .btn:active:focus {
        color: white; }
      .body .file-list .file-row .btn:hover:focus {
        color: white; }
      .body .file-list .file-row .btn i.fa {
        position: relative;
        top: 1px;
        margin-right: 7px;
        font-weight: normal; }
    .body .file-list .file-row button.hover {
      color: white;
      background: #107fc9;
      border-bottom: 3px solid #0c619a; }
    .body .file-list .file-row code.hover {
      color: #788592; }

.small-break {
  line-height: 0.5em; }

.progress-bar {
  background-color: #107fc9;
  font-weight: 300;
  font-size: 14px; }

.btn-toolbar {
  margin: 25px 20px; }

@media (max-width: 991px) {
  .upload-files, .uploaded-files {
    margin-top: 20px; } }

.btn {
  -webkit-transition: all 120ms;
  -moz-transition: all 120ms;
  -ms-transition: all 120ms;
  -o-transition: all 120ms;
  transition: all 120ms; }

.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
  outline: 0; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0; }

.stats-label {
  font-weight: 400;
  margin: 0.6em 0 0.6em; }

.sidebar hr {
  margin: 10px -25px; }

.sidebar .text-muted {
  color: #777777;
  font-weight: 300; }

.panel {
  border-radius: 0 !important;
  box-shadow: none;
  border: 1px solid #e7e7e7; }

.panel-group {
  margin-top: 20px;
  border-bottom: 2px solid #e7e7e7; }

.panel-group .pull-right {
  margin-top: 0.6em;
  font-weight: 300; }

.panel-heading {
  padding: 25px;
  background: rgba(98, 128, 206, 0.03); }

hr.panel-heading-hr {
  margin: 0 -25px 15px; }

.panel-body {
  padding: 0px 25px 15px; }

.panel-title {
  margin: 0 !important;
  color: #107fc9;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px; }

.panel.progress {
  margin-bottom: 25px; }

.accordion-toggle:hover {
  text-decoration: none; }

.accordion-toggle .panel-title:after {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
  transition: all 0.3s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.accordion-toggle.collapsed .panel-title:after {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg); }

.upload-files-top {
  height: 80px; }

#cont-uploading {
  text-align: center;
  padding-top: 5px; }
  #cont-uploading p {
    font-weight: 300; }

#span-dl-link {
  font-size: 12px;
  font-weight: 300; }

.tooltip-icon {
  color: #107fc9;
  margin-left: 5px;
  width: 15px;
  cursor: pointer; }

.access-token-input {
  margin-bottom: 25px; }

.access-token-input input {
  border-right: none; }

#user-info .access-token-input .btn {
  margin: 0;
  padding: 5px 15px 8px; }

.btn-account {
  margin: 15px 0 10px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px; }

.text-muted {
  font-weight: 300;
  font-family: "Exo 2", sans-serif; }

#user-info .progress {
  margin-bottom: 10px; }

.progress-stats .pull-right {
  margin-top: 0; }

.progress-stats .pull-left {
  font-weight: 300; }

#cont-datacoin-addr {
  width: 100%;
  margin-bottom: 10px; }

.tooltip {
  margin-left: -3px; }

.tooltip-inner {
  padding: 18px;
  font-size: 13px;
  background: #107fc9; }

.tooltip.top .tooltip-arrow {
  border-top-color: #107fc9; }

.modal-header {
  padding: 25px;
  background: #fafbfd;
  border-bottom: none; }

.modal-header .close {
  margin-top: -4px;
  font-size: 32px;
  outline: 0; }

.modal-dialog {
  margin: 12% auto; }

.modal-body {
  padding: 25px; }

.modal-hr {
  margin-left: -20px;
  margin-right: -20px;
  border-top: 2px solid #fafafa; }

.modal-content {
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid lightgrey; }

.modal-backdrop {
  background: black;
  background: rgba(0, 0, 0, 0.8);
  background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.45) 1%, rgba(0, 0, 0, 0.8) 100%);
  background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.45) 1%, rgba(0, 0, 0, 0.8) 100%);
  background: -ms-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.45) 1%, rgba(0, 0, 0, 0.8) 100%);
  background: radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.45) 1%, rgba(0, 0, 0, 0.8) 100%);
  filter: alpha(opacity=80);
  opacity: 0;
  -webkit-transition: 200ms opacity ease;
  -moz-transition: 200ms opacity ease;
  transition: 200ms opacity ease; }

.modal-right {
  margin-top: 15px; }

.modal-title {
  font-size: 16px; }

#modalBuy .progress {
  margin-top: 20px; }

#modalBuy span.pull-right {
  margin: 7px 0;
  font-size: 18px; }

.input-group-btn .btn {
  padding: 7px 35px; }

.data-address {
  margin-bottom: 20px; }

.data-address code {
  letter-spacing: 1px; }
