@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic,900,900italic);
.bg {
  background: linear-gradient(0deg, #aabbcc, #8899bb);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  z-index: -1;
}

.cf {
  zoom: 1;
}
.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.logo {
  font-weight: bold;
}

.main-container {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
.main-container h1, .main-container h2, .main-container h3, .main-container h4, .main-container h5, .main-container h6 {
  margin: 0 0 0.8em 0;
}

.btn-primary {
  background-color: #3276b1;
  border: solid 1px #285e8e;
}
.btn-primary:hover {
  background-color: #2c699d;
}

.searchbox {
  border: solid 1px #aabbcc;
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  position: relative;
  font-size: 18px;
}
.searchbox i.fa {
  color: #8899aa;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  line-height: 100%;
  width: 1em;
  text-align: center;
}
.searchbox input {
  position: absolute;
  top: 8px;
  right: 8px;
  left: 34px;
  bottom: 8px;
  font-size: inherit;
  background: none;
  width: calc(100% - 1em - 28px);
  border-style: none;
  margin: 0;
  padding: none;
}

.stats {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 15px;
  border-radius: 4px;
}
.stats hr {
  border-color: #c2c8d2;
}
.stats h5 {
  font-weight: bold;
}
.stats .text-muted {
  color: lightslategray;
}
.stats code {
  width: 150px;
}
.stats .stats-list .progress {
  margin-top: 0.3em;
}
.stats .caption {
  font-size: 90%;
  display: block;
  color: #7799aa;
  margin-top: 0.2em;
}
.stats .progress {
  border: solid 1px #38849b;
}

.invis {
  display: none;
}

input[type=file].invis {
  visibility: hidden;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

code {
  color: #334455;
  border: solid 1px #aabbcc;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.body {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.body h3 {
  font-weight: bold;
  letter-spacing: -1px;
}
.body .file-list code {
  width: 395px;
}
.body .file-list .new {
  background-color: #e2e9ff;
}
.body .file-list .file-row {
  border-top: dotted 1px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}
.body .file-list .file-row:last-of-type {
  border-bottom: dotted 1px rgba(0, 0, 0, 0.1);
}
.body .file-list .file-row .name {
  font-weight: bold;
  font-size: 120%;
  color: #55626f;
}
.body .file-list .file-row .name .text-muted {
  color: rgba(110, 130, 150, 0.8);
  font-weight: normal;
}
.body .file-list .file-row .hash {
  margin-top: 0.2em;
  font-size: 80%;
  padding: 2px;
}
.body .file-list .file-row .btn {
  background-color: #88aadd;
  font-weight: bold;
  font-size: 100%;
  color: white;
  text-shadow: 0 1px 0 #557799;
  border: solid 1px #7799cc;
  margin-top: 10px;
  margin-left: 10px;
}
.body .file-list .file-row .btn i.fa {
  position: relative;
  top: 1px;
  margin-right: 0.3em;
}

.small-break {
  line-height: 0.5em;
}

@media (max-width: 991px) {
  .upload-files, .uploaded-files {
    margin-top: 20px;
  }
}
