@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,500)
@import url(http://fonts.googleapis.com/css?family=Montserrat:700)
$blue: #107FC9
$orange: #f39c12
$green: #88C425
$text: #324040
$text-light: #777777
$hr: #fafafa
$font-exo: 'Exo 2', sans-serif
$font-mont: 'Montserrat', sans-serif
html
    height: 100%
body
    height: 100%
    background: #F8F8F8
.wrapper
    min-height: 100%
    margin: 0 auto -67px
    padding-bottom: 67px
p
    color: $text
    font-family: $font-exo
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
    font-family: $font-exo
    color: #555
hr
    border-top: 2px solid $hr
.cf
    zoom: 1
    &:before, &:after
        content: ' '
        display: table
    &:after
        clear: both
.left
    float: left
.right
    float: right
.logo
    background-image: url("../images/logo.png")
    background-size: 187px 40px
    background-repeat: no-repeat
    height: 40px
    width: 187px
    margin: 0
.header
    background: $blue
    padding: 30px 0
    border-bottom: 3px solid #E7E7E7
.heading
    margin-left: -7px
    margin-right: -7px
.push
    height: 67px
.footer
    bottom: 0
    height: 67px
    background: white
    width: 100%
    padding: 25px 0 12px
    font-family: $font-exo
    border-top: 1px solid #F0F0F0
.footer .container
    background: #fff
.footer-link
    margin-left: 1em
    font-weight: 400
.main-container
    font-family: $font-exo
    margin-top: 20px
    padding: 20px
    margin-bottom: 20px
    h1, h2, h3, h4, h5, h6
        margin: 0 0 0.8em 0
.btn-upload
    background-color: $orange
    color: #fff
    font-weight: 700
    border: 0
    border-bottom: 3px solid darken($orange, 5%)
    font-family: $font-mont
    text-transform: uppercase
    font-size: 18px
    padding-bottom: 7px
    padding-top: 12px
    &:hover,&:active
        background-color: lighten($orange, 5%)
        color: #fff
        border-bottom: 3px solid darken($orange, 5%)
    &:active
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none
        border-bottom: 3px solid lighten($orange, 5%)
    &:focus
        color: $orange
    &:active:focus
        color: #fff
    &:hover:focus
        color: #fff
.btn-default
    border-bottom: 3px solid #ccc
    font-size: 13px
    padding: 8px 18px
    font-family: $font-mont
.btn-primary
    background-color: $blue
    font-size: 13px
    padding: 8px 18px
    font-family: $font-mont
    text-transform: uppercase
    letter-spacing: 1px
    border: 0
    border-bottom: 3px solid darken($blue, 5%)
    &:hover,&:active
        background-color: darken($blue, 5%)
        color: #fff
        border-bottom: 3px solid darken($blue, 15%)
    &:active
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none
        border-bottom: 3px solid darken($blue, 5%)
    &:focus
        color: #fff
    &:active:focus
        color: #fff
    &:hover:focus
        color: #fff
.btn-secondary
    background-color: white
    font-size: 13px
    font-family: $font-mont
    padding: 8px 18px
    color: $blue 
    border: solid 2px $blue 
    &:hover,&:active
        background-color: $blue 
        color: #fff
        border-bottom: 3px solid darken($blue, 5%)
    &:active
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none
        border-bottom: 3px solid $blue
    &:focus
        color: $blue
    &:active:focus
        color: #fff
    &:hover:focus
        color: #fff
.btn-green
    background: white
    font-size: 13px
    padding: 8px 18px
    color: $green
    border: 2px solid $green
    border-bottom: 3px solid $green
    letter-spacing: 0.5px
    &:hover,&:active
        background-color: $green
        color: #fff
        border-bottom: 3px solid darken($green, 5%)
    &:active
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none
        border-bottom: 3px solid $green
    &:focus
        color: $green
    &:active:focus
        color: #fff
    &:hover:focus
        color: #fff
.btn-orange
    background-color: #FFFFFF
    font-size: 13px
    padding: 8px 18px
    color: $orange
    border: solid 2px $orange
    border-bottom: 3px solid $orange
    letter-spacing: 0.5px
    &:hover,&:active
        background-color: $orange
        color: #fff
        border-bottom: 3px solid darken($orange, 5%)
    &:active
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none
        border-bottom: 3px solid $orange
    &:focus
        color: $orange
    &:active:focus
        color: #fff
    &:hover:focus
        color: #fff
#btn-upload-another
    width: 100%
    height: 34px
    margin-top: 9px
.btn-sharing
    font-family: "Montserrat", sans-serif
    text-transform: uppercase
    font-size: 11px
    padding: 10px
    cursor: pointer
    display: inline-block
    margin-top: 5px
    color: #9C9DAC
    &:hover
        text-decoration: none
    &:first-of-type
        color: $green
    &:last-of-type
        color: #D31337
.searchbox
    padding: 8px
    margin-top: 1px
    background-color: white
    position: relative
    font-size: 16px
    font-weight: 300
    i.fa
        color: $blue
        position: absolute
        top: 11px
        left: 10px
        line-height: 100%
        width: 1.0em
        text-align: center
    input
        font-family: $font-exo
        font-weight: 300
        position: absolute
        top: 8px
        right: 8px
        left: 34px
        bottom: 8px
        font-size: inherit
        outline: 0
        background: none
        width: calc(100% - 1em - 28px)
        border-style: none
        margin: 0
        padding: none
.stats
    padding: 25px 25px 15px
    background: white
    border: 1px solid rgb(231, 231, 231)
    border-bottom: 3px solid #e7e7e7
    p
        font-weight: 400
    h5
        font-weight: bold
    .text-muted
        color: $text-light
        font-weight: 300
        margin-top: 0.6em
    .stats-list
        .progress
            margin-top: 0.3em
    .caption
        font-size: 10px
        display: block
        font-weight: 300
        color: rgb(128, 127, 127)
        text-transform: uppercase
        margin: 15px 0
.invis
    display: none
input[type=file].invis
    visibility: hidden
    overflow: hidden
    width: 1px
    height: 1px
code
    width: 100%
    display: block
    font-size: 12px
    font-weight: 300
    font-family: $font-exo
    letter-spacing: 1px
    border: solid 1px #E9E9E9
    overflow: hidden
    cursor: pointer
    background: none
    padding: 8px
    color: #A7A7A7
    margin-top: 3px
.body
    background: white
    border: 1px solid rgb(231, 231, 231)
    border-bottom: 3px solid #e7e7e7
    .panel-heading
    h3
        color: $blue
        padding-bottom: 15px
        padding-top: 15px
        font-family: $font-mont
        text-transform: uppercase
        letter-spacing: 0.5px
        font-size: 18px
    .file-list
        code
            width: 400px
            background: none
            border: 0
            padding: 5px 0
            color: #b7c8da
            font-size: 9px
            margin-top: 3px
            letter-spacing: 1px
        .new
            background-color: #e2e9ff
        .file-row
            border-top: 2px solid #fafafa
            padding: 30px 25px
            &:last-of-type
                border-bottom: 2px solid #fafafa
            .name
                font-weight: 400
                font-size: 18px
                color: $blue
                .text-muted
                    color: $text-light
                    font-weight: normal
            .btn
                background-color: white
                padding: 8px 18px
                color: $blue
                border: solid 2px $blue
                margin-top: 6px
                margin-left: 20px
                border-bottom: 3px solid $blue
                font-family: $font-mont
                text-transform: uppercase
                font-size: 11px
                letter-spacing: 0px
                &:hover,&:active
                    background-color: $blue 
                    color: #fff
                    border-bottom: 3px solid darken($blue, 10%)
                &:active
                    -webkit-box-shadow: none
                    -moz-box-shadow: none
                    box-shadow: none
                    border-bottom: 3px solid $blue
                &:focus
                    color: $blue
                &:active:focus
                    color: #fff
                &:hover:focus
                    color: #fff
                i.fa
                    position: relative
                    top: 1px
                    margin-right: 7px
                    font-weight: normal
            .btn.zeroclipboard-is-hover
                background-color: $blue
                color: #fff
                border-bottom: 3px solid darken($blue, 10%)
            button.hover
                color: #fff
                background: $blue
                border-bottom: 3px solid darken($blue, 10%)
            code.hover, code.hover.zeroclipboard-is-hover
                color: #788592
.small-break
    line-height: 0.5em
.progress-bar
    background-color: $blue
    font-weight: 300
    font-size: 14px
.btn-toolbar
    margin: 25px 20px
.upload-files, .uploaded-files
    @media (max-width: 991px)
        margin-top: 20px
.btn
    -webkit-transition: all 120ms
    -moz-transition: all 120ms
    -ms-transition: all 120ms
    -o-transition: all 120ms
    transition: all 120ms
.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn
    outline: 0
.btn:focus, .btn:active:focus, .btn.active:focus
    outline: 0
.stats-label
    font-weight: 400
    margin: 0.6em 0 0.6em
.sidebar hr
    margin: 10px -25px
.sidebar .text-muted
    color: $text-light
    font-weight: 300
.panel
    border-radius: 0!important
    box-shadow: none
    border: 1px solid #e7e7e7
.panel-group
    margin-top: 20px
    border-bottom: 2px solid #E7E7E7
.panel-group .pull-right
    margin-top: 0.6em
    font-weight: 300
.panel-heading
    padding: 25px
    background: rgba(98, 128, 206, 0.03)
hr.panel-heading-hr
    margin: 0 -25px 15px
.panel-body
    padding: 0px 25px 15px
.panel-title
    margin: 0!important
    color: $blue
    font-weight: 700
    text-transform: uppercase
    font-size: 14px
    font-family: $font-mont
    letter-spacing: 0.5px
.panel.progress
    margin-bottom: 25px
.accordion-toggle:hover
    text-decoration: none
.accordion-toggle .panel-title:after
    font-family: 'Glyphicons Halflings'
    content: "\e114"
    float: right
    transition: all 0.3s
    -webkit-transform: rotate(180.0deg)
    -moz-transform: rotate(180.0deg)
    -ms-transform: rotate(180.0deg)
    -o-transform: rotate(180.0deg)
    transform: rotate(180.0deg)
.accordion-toggle.collapsed .panel-title:after
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
.upload-files-top
    height: 80px
#cont-uploading
    text-align: center
    padding-top: 5px
    p
        font-weight: 300
#span-dl-link
    font-size: 12px
    font-weight: 300
.tooltip-icon
    color: $blue
    margin-left: 5px
    width: 15px
    cursor: pointer
.access-token-input
    margin-bottom: 25px
.access-token-input input
    border-right: none
#user-info .access-token-input .btn
    margin: 0
    padding: 5px 15px 8px
.btn-account
    margin: 15px 0 10px
    width: 100%
    font-family: $font-mont
    text-transform: uppercase
    letter-spacing: 1px
    font-size: 12px
.text-muted
    font-weight: 300
    font-family: $font-exo
#user-info .progress
    margin-bottom: 10px
.progress-stats .pull-right
    margin-top: 0
.progress-stats .pull-left
    font-weight: 300
#cont-datacoin-addr
    width: 100%
    margin-bottom: 10px
.tooltip
    margin-left: -3px
.tooltip-inner
    padding: 18px
    font-size: 13px
    background: $blue
.tooltip.top .tooltip-arrow
    border-top-color: $blue
.modal-header
    padding: 25px
    background: #fafbfd
    border-bottom: none
.modal-header .close
    margin-top: -4px
    font-size: 32px
    outline: 0
.modal-dialog
    margin: 12% auto
.modal-body
    padding: 25px
.modal-hr
    margin-left: -20px
    margin-right: -20px
    border-top: 2px solid $hr
.modal-content
    border-radius: 0
    box-shadow: none
    border: none
    border-bottom: 2px solid lightgrey
.modal-backdrop
    background: #000
    background: rgba(0,0,0,0.8)
    background: -webkit-radial-gradient(50% 50%,ellipse closest-corner,rgba(0,0,0,0.45) 1%,rgba(0,0,0,0.8) 100%)
    background: -moz-radial-gradient(50% 50%,ellipse closest-corner,rgba(0,0,0,0.45) 1%,rgba(0,0,0,0.8) 100%)
    background: -ms-radial-gradient(50% 50%,ellipse closest-corner,rgba(0,0,0,0.45) 1%,rgba(0,0,0,0.8) 100%)
    background: radial-gradient(50% 50%,ellipse closest-corner,rgba(0,0,0,0.45) 1%,rgba(0,0,0,0.8) 100%)
    filter: alpha(opacity=80)
    opacity: 0
    -webkit-transition: 200ms opacity ease
    -moz-transition: 200ms opacity ease
    transition: 200ms opacity ease
.modal-right
    margin-top: 15px
.modal-title
    font-size: 16px
#modalBuy .progress
    margin-top: 20px
#modalBuy span.pull-right
    margin: 7px 0
    font-size: 18px
.input-group-btn .btn
    padding: 7px 35px
#access-token-copy.zeroclipboard-is-hover
    text-decoration: none
    color: #262626
    background-color: #f5f5f5
#access-token
    cursor: default
    font-size: 12px
#data-address
    font-size: 12px
    padding-left: 5px
    margin-bottom: 5px
#sharing-info
#sharing-key code
    letter-spacing: 1px
.sharing-key-toggle
    margin: 5px 0 !important
    .btn
        padding: 5px 7px
        font-size: 11px
        border: 0
        text-transform: uppercase
        letter-spacing: 1px
        margin-left: 0 !important
        &:hover
            border: 0
            margin-left: 0 !important
    .btn-default
        background: #ebebeb