@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,800,600,700);
body {
  background: #f8f8f8; }

p {
  color: #324040; }

.cf {
  zoom: 1; }
  .cf:before, .cf:after {
    content: " ";
    display: table; }
  .cf:after {
    clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.logo {
  background-image: url("../images/logo.png");
  background-size: 148px 56px;
  background-repeat: no-repeat;
  height: 56px;
  width: 148px;
  margin: 0; }

.header {
  background: #5f81e3;
  padding: 30px 0; }

.heading {
  margin-left: -7px;
  margin-right: -7px; }

.footer {
  bottom: 0;
  background: white;
  width: 100%;
  padding: 25px 0 12px;
  font-family: "Exo 2", sans-serif; }

.main-container {
  font-family: "Exo 2", sans-serif;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 20px; }
  .main-container h1, .main-container h2, .main-container h3, .main-container h4, .main-container h5, .main-container h6 {
    margin: 0 0 0.8em 0; }

.btn-primary {
  background-color: #5f81e3;
  font-weight: 700;
  border: 0; }
  .btn-primary:hover {
    background-color: #4970df; }

.searchbox {
  padding: 8px;
  margin-top: 8px;
  background-color: white;
  position: relative;
  font-size: 16px;
  font-weight: 300; }
  .searchbox i.fa {
    color: #5f81e3;
    position: absolute;
    top: 11px;
    left: 10px;
    line-height: 100%;
    width: 1em;
    text-align: center; }
  .searchbox input {
    font-family: "Exo 2", sans-serif;
    font-weight: 300;
    position: absolute;
    top: 8px;
    right: 8px;
    left: 34px;
    bottom: 8px;
    font-size: inherit;
    outline: 0;
    background: none;
    width: calc(100% - 1em - 28px);
    border-style: none;
    margin: 0;
    padding: none; }

.stats {
  padding: 25px 25px 15px;
  background: white;
  border: 1px solid #e7e7e7; }
  .stats p {
    font-weight: 600; }
  .stats hr {
    border-color: #e7e7e7; }
  .stats h5 {
    font-weight: bold; }
  .stats .text-muted {
    color: #777777; }
  .stats code {
    width: 150px; }
  .stats .stats-list .progress {
    margin-top: 0.3em; }
  .stats .caption {
    font-size: 10px;
    display: block;
    font-weight: 300;
    color: #807f7f;
    text-transform: uppercase;
    margin-top: 15px; }

.invis {
  display: none; }

input[type=file].invis {
  visibility: hidden;
  overflow: hidden;
  width: 1px;
  height: 1px; }

code {
  color: #334455;
  border: solid 1px #aabbcc;
  display: inline-block;
  overflow: hidden;
  cursor: pointer; }

.body {
  padding: 25px;
  background: white;
  border: 1px solid #e7e7e7; }
  .body h3 {
    font-weight: 600;
    color: #555555;
    padding-bottom: 15px;
    padding-top: 5px; }
  .body .file-list code {
    width: 395px;
    background: none;
    border: 0;
    padding: 5px 0;
    color: #b7c8da;
    font-size: 10px;
    margin-top: 3px;
    letter-spacing: 1px; }
  .body .file-list .new {
    background-color: #e2e9ff; }
  .body .file-list .file-row {
    border-top: dotted 1px rgba(0, 0, 0, 0.1);
    padding: 20px 0; }
    .body .file-list .file-row:last-of-type {
      border-bottom: dotted 1px rgba(0, 0, 0, 0.1); }
    .body .file-list .file-row .name {
      font-weight: 400;
      font-size: 18px;
      color: #5f81e3; }
      .body .file-list .file-row .name .text-muted {
        color: #777777;
        font-weight: normal; }
    .body .file-list .file-row .btn {
      background-color: white;
      font-weight: 600;
      font-size: 13px;
      padding: 8px 18px;
      color: #5f81e3;
      border: solid 2px #5f81e3;
      margin-top: 10px;
      margin-left: 20px; }
      .body .file-list .file-row .btn:hover {
        background: #5f81e3; }
      .body .file-list .file-row .btn i.fa {
        position: relative;
        top: 1px;
        margin-right: 10px;
        font-weight: normal; }

.small-break {
  line-height: 0.5em; }

.progress-bar {
  background-color: #5f81e3; }

.btn-toolbar {
  margin-left: -5px;
  margin-top: 25px; }

@media (max-width: 991px) {
  .upload-files, .uploaded-files {
    margin-top: 20px; } }
