<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta "http-equiv"="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css') }}" type="text/css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.fileupload.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.fileupload-ui.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/blueimp-gallery.min.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.css') }}">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    @javascript html5shiv respond.min
  <![endif]-->
  <title>PyStorage</title>
</head>
