<header>
	<section class="logo">
		<img src="/assets/images/logo.png" alt="Metadisk - Powered by Storj">
	</section>
	<section class="search">
		<span class="search-icon fa"></span>
		<input type="text" placeholder="Search file hash&hellip;">
	</section>
</header>

{{outlet}}
