<header>
	<section class="branding">
		<img src="/assets/images/logo.png" width="187" height="140" alt="Metadisk - Powered by Storj">
	</section>
	<section class="search">
		<label><input type="text" placeholder="Search file hash&hellip;"></label>
	</section>
</header>
<!-- status messages should pop in here as opposed to way down on bottom right-->
<main>
	<section class="upload">
		<button>UPLOAD</button>
		<h3>
			<span>File Size Limit</span>
			<aside>1.00 GB</aside>
		</h3>
	</section>
	<section>
		<h1>UPLOADED FILES</h1>
		<!-- build and style with more compact list, maybe scrollable? -->
		<!-- download url + key, etc. all inline -->
		<!-- alternating color background? -->
		<!-- maybe show status here for files? -->
	</section>
	<section>
		<h1>
			<span>YOUR ACCOUNT</span>
			<aside></aside>
		</h1>
	</section>
	<section>
		<h1>
			<span>SHARING</span>
			<aside></aside>
		</h1>
		<!-- maybe have summary views for contracted states? -->
	</section>
	<section>
		<h1>
			<span>NODE INFORMATION</span>
			<aside></aside>
		</h1>
	</section>
</main>
<footer>
	<h1>
		<a href="http://metadisk.org">Metadisk</a> - Powered by <a href="http://storj.io">Storj</a><span class="muted"> - by using this site you are agreeing to the terms of the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>.</span>
	</h1>
	<aside>
		<a href="https://github.com/Storj/web-core#api-documentation">API</a>
		<a href="https://github.com/Storj/Metadisk/issues">Report a bug</a>
	</aside>
</footer>

{{outlet}}