<header>
	<section class="branding">
		<img src="/assets/images/logo.png" width="187" height="140" alt="Metadisk - Powered by Storj">
	</section>
	<section class="search">
		<label><input type="text" placeholder="Search file hash&hellip;"></label>
	</section>
</header>
<!-- status messages should pop in here as opposed to way down on bottom right-->
<main>
	<section class="upload">
		<button>UPLOAD</button>
		<h3>
			<span>File Size Limit</span>
			<aside>1.00 GB</aside>
		</h3>
	</section>
	<section>
		<h1>UPLOADED FILES</h1>
		<!-- keep existing setup for now, however instead of single file
		loading in upload, upload multiple files here with progress bar for
		each, can have status, etc. stored in localstorage. download, etc.
		buttons only available once file upload complete. also, make row
		change color with status of upload -->
	</section>
	<section class="my-account">
		<h1>
			<span>YOUR ACCOUNT</span>
			<aside></aside>
		</h1>
	</section>
	<section class="sharing">
		<h1>
			<span>SHARING</span>
			<aside></aside>
		</h1>
		<h3>
			<span class="with-help address"><span class="help-icon">Data Address</span></span>
			<aside></aside>
		</h3>
		<code>D8B9xbwN6696tw9UbYmqvZNLNZ4MH9HSdE</code>
		<h3>
			<span class="with-help encryption"><span class="help-icon">Encryption</span></span>
			<aside>Convergent Encryption</aside>
		</h3>
	</section>
	<section class="node-info">
		<h1>
			<span>NODE INFORMATION</span>
			<aside></aside>
		</h1>
		<h3>
			<span>Upload Bandwidth</span>
			<aside>3.28/300 GB</aside>
		</h3>
		<progress max="100" value="1"></progress>
		<h3>
			<span>Download Bandwidth</span>
			<aside>16.68/700 GB</aside>
		</h3>
		<progress max="100" value="2"></progress>
		<h3>
			<span>Cache Used</span>
			<aside>4.39/10.00 GB</aside>
		</h3>
		<progress max="100" value="44"></progress>
		<h3>
			<span>Files Syncing to Cloud</span>
			<aside>0 (0.00 GB)</aside>
		</h3>
		<h3>
			<span>Files Syncing to Block</span>
			<aside>0 (0.00 GB)</aside>
		</h3>
		<h3>
			<span>Datacoin Address</span>
			<aside>38.25 DTC</aside>
		</h3>
		<code>DFtXnb2JcBWVYmt8oESCuvh4ekbMLkDHSy</code>
	</section>
</main>
<footer>
	<h1>
		<a href="http://metadisk.org">Metadisk</a> - Powered by <a href="http://storj.io">Storj</a><span class="muted"> - by using this site you are agreeing to the terms of the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>.</span>
	</h1>
	<aside>
		<a href="https://github.com/Storj/web-core#api-documentation">API</a>
		<a href="https://github.com/Storj/Metadisk/issues">Report a bug</a>
	</aside>
</footer>

{{outlet}}