<header>
	<section>
		<img src="/assets/images/logo.png" alt="Metadisk - Powered by Storj">
	</section>
	<section>
		<span class="search-icon"></span>
		<input type="text" placeholder="Search file hash&hellip;">
	</section>
</header>
<main>
	<div>
		<section></section>
		<section>
			<h1>
				<span>YOUR ACCOUNT</span>
				<aside></aside>
			</h1>
		</section>
		<section>
			<h1>
				<span>SHARING</span>
				<aside></aside>
			</h1>
		</section>
		<section>
			<h1>
				<span>NODE INFORMATION</span>
				<aside></aside>
			</h1>
		</section>
	</div>
	<div>
		<section></section>
	</div>
</main>
<footer>
	<h1>
		<a href="http://metadisk.org">Metadisk</a> - Powered by <a href="http://storj.io">Storj</a><span class="muted"> - by using this site you are agreeing to the terms of the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>.</span>
	</h1>
	<aside>
		<a href="https://github.com/Storj/web-core#api-documentation">API</a>
		<a href="https://github.com/Storj/Metadisk/issues">Report a bug</a>
	</aside>
</footer>

{{outlet}}