<header>
	<section class="logo">
		<img src="/assets/images/logo.png" alt="Metadisk - Powered by Storj">
	</section>
	<section class="search">
		<span class="search-icon fa"></span>
		<input type="text" placeholder="Search file hash&hellip;">
	</section>
</header>

<footer>
	<h1>
		<a href="http://metadisk.org">Metadisk</a> - Powered by <a href="http://storj.io">Storj</a><span class="muted"> - by using this site you are agreeing to the terms of the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>.</span>
	</h1>
	<aside>
		<a href="https://github.com/Storj/web-core#api-documentation">API</a>
		<a href="https://github.com/Storj/Metadisk/issues">Report a bug</a>
	</aside>
</footer>

{{outlet}}